<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#with ObjectData}}
<h2>This is the list title: {{ListTitle}}</h2>
    <ul>{{#each Items}}
        <li>{{Id}}</li>
    {{/each}}</ul>
{{/with}}
{{{body}}}
</body>
</html>

